//noinspection CssUnknownTarget
@import "syntax-variables";
@import "octicon-utf-codes";
@import "ui-variables";
@import "tooltips";

// Using the git-diff colors so they are visible on your syntax theme.
@gutter: @syntax-color-removed;
@underline: #00a188;

.highlight-blue .region {
  border-bottom: 1px dashed @underline
}
.highlight-red .region {
  border-bottom: 1px dashed @gutter;
}
:host(:host) .gutter .line-number{
  &.gutter-blue {
    color:white;
    background-color: @underline
  }
  &.gutter-red {
    color:white;
    background-color: @gutter;
  }
}
.ide-hack-error {
  background-color: @background-color-highlight;
  z-index: 3;
}

.highlight {
  &.ide-hack-error .region {
    background: linear-gradient(to right, fadeout(@background-color-error, 30%) 0%, fadeout(@background-color-error, 35%) 100%);
    z-index: 3;
  }
}

.gutter .line-number {
  &.ide-hack-error .icon-right {
    visibility: visible;
    &:before {
      content: @alert;
      color: @text-color-error;
      z-index: 3;
    }
  }
}