//noinspection CssUnknownTarget
@import "syntax-variables";

// Using the git-diff colors so they are visible on your syntax theme.
@gutter: @syntax-color-removed;
@underline: #00a188;

.highlight-blue .region {
  border-bottom: 1px dashed @underline
}
.highlight-red .region {
  border-bottom: 1px dashed @gutter;
}
:host(:host) .gutter .line-number{
  &.gutter-blue {
    color:white;
    background-color: @underline
  }
  &.gutter-red {
    color:white;
    background-color: @gutter;
  }
}